@import 'partials/reset';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries
@import url('https://use.typekit.net/nor5fiz.css');

// color palette - these colors will be the color swatches of the Colors section

$color-1: #233c67; // Navy Blue - Action color
$color-2: #19191a; // Black
$color-3: #2d2367; // Analogous of Navy Blue
$color-4: #235167; // Analogous of Navy Blue
$color-5: #ffffff; // White

// additional colors

$nature: #5ca399; // green
$accent-pop: #ffa200; // orange

// fonts
$primary-font: 'pt-sans', sans-serif;
$secondary-font: 'adobe-kannada', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $color-5;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $color-4;
	border-radius: 3px;
	background: $color-5;
	box-shadow: 0 1px 1px rgba(#000, 0.05);
	padding: 6px;
}

@import 'partials/navigation';

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-5;
	}
}

@import 'partials/links';

@import 'partials/typography';

@import 'partials/basic-style';
